@model IEnumerable<Oracle_sell_book.Models.SACH>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Bookstore";
}
<h4>DANH MỤC SÁCH</h4>
<hr />

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            
            <div class="col-md-4">
                <div class="product-item">
                    <div class="pi-img-wrapper">
                        <img src="@Html.Raw(item.HINHANH)" class="img-responsive" alt="Berry Lace Dress">
                        <div>
                            @Html.ActionLink("Xem chi tiết", "BookDetails", new { id = item.MASACH })
                        </div>
                    </div>
                    <h3><a href="shop-item.html">@Html.DisplayFor(modelItem => item.TENSACH)</a></h3>
                    <div class="pi-price">@Html.DisplayFor(modelItem => item.GIABAN) VNĐ</div>
                    <a href="javascript:;" class="btn add2cart">Add to cart</a>
                </div>
            </div>
       
        }
    </div>
</div>
<br>
<br>




