<div class="header-content my-5">
    <div class="container ">
        <div class="row">
            <div class="col-md-3 sidebar">
                <div class="list-group">
                    <!-- Show chủ đề-->
                    <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-female"></i> Beauty</a>
                    <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-calendar"></i> Events</a>
                    <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-umbrella"></i> Fashion</a>
                    <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-child"></i> Fitness</a>
                    <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-cutlery"></i> Food & Drink</a>
                    <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-tasks"></i> Furniture</a>
                    <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-tree"></i> Home & Garden</a>
                    <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-shopping-cart"></i> Shopping</a>
                    <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-bus"></i> Travel</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="banner slider">
                    <div id="demo" class="carousel slide" data-ride="carousel" data-interval="false">
                      
                        <!-- The slideshow -->
                        <!-- Slideshow container -->
                        <div class="slideshow-container" style="float:right">

                            <!-- Full-width images with number and caption text -->
                            <div class="mySlides">

                                <img src="~/Content/images/banner_1.jpg" style="width:100%">

                            </div>

                            <div class="mySlides">

                                <img src="~/Content/images/banner_2.jpg" style="width:100%">

                            </div>

                            <div class="mySlides">

                                <img src="~/Content/images/banner_3.jpg" style="width:100%">

                            </div>
                            <!-- The dots/circles -->
                            <div style="text-align:center">
                                <span class="dot" onclick="currentSlide(1)"></span>
                                <span class="dot" onclick="currentSlide(2)"></span>
                                <span class="dot" onclick="currentSlide(3)"></span>
                            </div>

                        </div>
                        <br>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
    <!-- The best seller books-->
    <h4>Bán chạy nhất</h4>



    <script>
                var slideIndex = 0;
                showSlides();

                function showSlides() {
                    var i;
                    var slides = document.getElementsByClassName("mySlides");
                    var dots = document.getElementsByClassName("dot");
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";
                    }
                    slideIndex++;
                    if (slideIndex > slides.length) { slideIndex = 1 }
                    for (i = 0; i < dots.length; i++) {
                        dots[i].className = dots[i].className.replace(" active", "");
                    }
                    slides[slideIndex - 1].style.display = "block";
                    dots[slideIndex - 1].className += " active";
                    setTimeout(showSlides, 2000); // Change image every 2 seconds
                }
    </script>